primary-color = #FEB618
secondary-color = #00BE4C

.container-restaurant
    padding: 20px
    width: 100%
    max-width 450px
    margin-right: 20px
    .all-menu
        display: flex
        flex-flow: row nowrap
        justify-content: flex-end
        cursor pointer
        p
            background-color rgba(secondary-color, .8)
            padding: 20px
            font-weight: bold
            color white
            font-size: 14px
    .info-restaurant
        background-color: rgba(white, .8)
        padding: 20px
        padding-bottom: 10px
        .info
            display: flex
            flex-flow: row nowrap
            margin-bottom: 10px
            .location
                margin-right: 10px
                margin-left: 10px
                font-size: 12px
                p
                    color #4f4f4f
            .stars
                display: flex
                flex-flow: row nowrap
                #star
                    margin-right: 5px
        h2
            font-weight: bold
        .description
            font-size: 12px
            margin-top: 20px
            margin-bottom: 10px
            color: #4f4f4f
        .money-order
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            font-weight: bold
            align-items: center
            .money
                font-size: 20px
            .order
                font-size: 25px
                color #2A0077
                cursor pointer