<div class="container-restaurant">
  <div class="all-menu">
    <p>See all menu</p>
  </div>
  <div class="info-restaurant">
    <div class="info">
      <span>span</span>
      <div class="location">
        <h4>Monterrey, México</h4>
        <p>1.4 km away</p>
      </div>
      <div class="stars">
        <span id="star">s</span>
        <span id="star">s</span>
        <span id="star">s</span>
        <span id="star">s</span>
        <span id="star">s</span>
      </div>
    </div>
    <h2>Light breakfast</h2>
    <div class="description">
      A delicious conbination of crispy toast, boiled eggs and avocado slices with fresh cherry tomato.
    </div>
    <div class="money-order">
      <p class="money">$8</p>
      <p class="order">Order</p>
    </div>
  </div>
</div>