<div class="container">

  <!-- Icon section -->
  <span>Icon section</span>

  <!-- Show a bar indicator of numbers of restaurants in this part -->
  <div class="number-of-restaurants">
    <!-- This is a number indicator -->
    <div class="number">1/4</div>
    <!-- This is the bar indicator -->
    <div class="bar">
      <div class="indicator"></div>
    </div>
  </div>

  <!-- Show the configurate lenguaje -->
  <div class="lenguaje-configurate">
    <!-- Configuration in english -->
    <p class="selected">ENG</p>
    <!-- Configuration in Spanish -->
    <p>Spanish</p>
  </div>
</div>